
Будет удалено .gradle/
Будет удалено .idea/dataSources.local.xml
Будет удалено .idea/dataSources/465e511e-f77f-4f54-9e88-b4a37d684b67/_src_/
Будет удалено .idea/dataSources/465e511e-f77f-4f54-9e88-b4a37d684b67/_staging_/
Будет удалено .idea/dataSources/965519de-f6fa-4f54-8bae-843397f68eb0/_src_/
Будет удалено .idea/dataSources/965519de-f6fa-4f54-8bae-843397f68eb0/_staging_/
Будет удалено .idea/dataSources/c432bfe0-f2b5-4c51-8fbf-a73c00fc43f0/_src_/
Будет удалено .idea/dataSources/c432bfe0-f2b5-4c51-8fbf-a73c00fc43f0/_staging_/
Будет удалено .idea/workspace.xml
Будет удалено build/
Будет удалено src/main/resources/
/gradlew
/gradlew.bat
/.idea/
/build/
/.gradle/
/database/
/gradle/
!/database/
/TestDB/
Будет удалено TestDB/
Будет удалено derby.log
Будет удалено src/main/java/ru/alcereo/futils/criteria/
Будет удалено src/test/java/firsttest/DBTest.java
/derby.log

